<%= form_with(model: @post, local: true) do |form| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
            <h2><%= @post.errors.count %>件のエラーがあります。</h2>
            <ul>
                <% @post.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
         </div>
    <% end %>
    <div class="software_name">
        <%= form.label :software_name %>
        <%= form.text_field :software_name, maxlength: "20", placeholder: "20文字以内", size: "50" %>
    </div>
    <div class="form_content">
        <%= form.label :content %><br>
        <%= form.text_area :content, maxlength: "1000", placeholder: "1000文字以内", size: "50x10" %>
    </div>
    <%= form.submit "登録" %>
<% end %>
<%= link_to '一覧に戻る', posts_path %>