<h2>レビュー一覧</h2>
<% if user_signed_in? %>
    <%= link_to 'レビュー投稿', new_post_path %>
<% end %>

<% @posts.each do |post| %>
    <div class="post">
        <p>
            <span class="software_name"><%= post.software_name %></span>
            <span class="written_by">
                <%= post.user.username %>
            </span>
            <%= link_to 'ユーザー詳細', user_path(post.user.id) %>
        </p>
        <p class="index_content">
            <%= post.content %>
        </p>
    </div>
    <p>
        <% if user_signed_in? %>
            <div class="menu">
                <% if current_user.id == post.user.id %>
                    <%= link_to '詳細', post_path(post.id) %>
                <% end %>
            </div>
        <% end %>
    </p>
<% end %>

<%= paginate @posts %>