<%= form_with(model: @post, local: true) do |form| %>
  <div class="software_name">
    <%= form.label :software_name %>
    <%= form.text_field :software_name, maxlength: "20", placeholder: "20文字以内", size: "50" %>
  </div>
  <div class="content">
    <%= form.label :content %>
    <%= form.text_area :content, maxlength: "1000", placeholder: "1000文字以内", size: "50x10" %>
  </div>
  <%= form.submit %>
<% end %>