<!DOCTYPE html>
<html>
  <head>
    <title>SoundsGood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <nav>
          <h1 class="logo">SoundsGood</h1>
          <div class="link">
            <% if user_signed_in? %>
              <strong><%= link_to 'マイページ', user_path(current_user.id) %></strong>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to 'サインアップ', new_user_registration_path %>
              <%= link_to 'ログイン', new_user_session_path %>
            <% end %>
          </div>
        </nav>
      </header>

      <div class="content">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <div class="mainarea">

          <%= yield %>

        </div>

      </div>

      <footer>&copy 2020 CaibeR</footer>

    </div>
  </body>
</html>
